*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
/app/build/generated/assets/shaders/debug,
/app/build/generated/res/pngs/debug,
/app/build/generated/res/resValues/debug,
/app/build/generated/res/rs/debug,
/app/build/generated/source/aidl/debug,
/app/build/generated/source/apt/debug,
/app/build/generated/source/rs/debug,
/app/build/intermediates/check-manifest/debug,
/app/build/intermediates/incremental/InstantRunDependenciesApkBuilder/debug/aapt-temp,
/app/build/intermediates/incremental/InstantRunSliceSplitApkBuilder/debug/aapt-temp,
/app/build/intermediates/incremental/mergeDebugResources/aapt-temp,
/app/build/intermediates/incremental/mergeDebugResources/merged.dir,
/app/build/intermediates/incremental/mergeDebugResources/stripped.dir,
/app/build/intermediates/incremental/processDebugResources/aapt-temp,
/app/build/intermediates/incremental/validateSigningDebug,
/app/build/intermediates/jniLibs/debug,
/app/build/intermediates/prebuild/debug,
/app/build/intermediates/reload-dex/debug,
/app/build/intermediates/resources/instant-run/debug,
/app/build/intermediates/rs/debug/lib,
/app/build/intermediates/rs/debug/obj,
/app/build/intermediates/shaders/debug,
/app/build/intermediates/transforms/instantRun/debug/1,
/app/build/tmp/compileDebugJavaWithJavac,
/app/libs,
/app/src/main/res/menu
.externalNativeBuild
